<!-- <books-book-new (newBook)='addBook($event)'></books-book-new> -->

<app-nav></app-nav>
<div>

  <div *ngIf='errorMessage'>
    <p>{{ errorMessage }}</p>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- /books/10 -->
      <tr
      *ngFor='let book of books'
      (click)='onSelect(book)'
      [routerLink]="['/books', book._id]"
      >
        <td>{{ book._id }}</td>
        <td>{{ book.title | titleize }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.author | titleize }}</td>
        <td (click)='onEvent($event)'>
          <button (click)='deleteBook(book)'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <books-book-detail [book]='selectedBook' *ngIf='selectedBook'></books-book-detail> -->
